$purple: #AC2EFF;
$green: #1ff042;

body{
	background-color: white;
}

a{
	color: $purple;
	transition: all 300ms ease-out;

	&:hover{
		color: $green;
	}
}

h1{
	color: black;
}

form{
	padding: 1rem;
	border: 1px solid $purple;
	border-radius: 2px;
}

.submit-btn{
	background-color: $purple;
	color: white;
	border: 0;
	transition: all 300ms ease-out;
	border-radius: 2px;
	font-size: 1.2rem;
	padding: .5rem 1rem;

	&:focus{
		outline: none;
	}

	&.loading{
		background-color: darken($purple, 20%);
	}
}

.white{
	color: white;
}

.application-header{
	background-color: black;
}

.logo{
	height: 40px;
	margin-right: 10px;
}
