<template name="landingPage">
	<h1>LandingPage</h1>
	<form class="submit">
		<div class="form-control">
			<label>Level:</label>
			<select class="variable">
				<option value="_computer_engineering_and_science_occupations">Computer Engineering And Science</option>
				<option value="_computer_and_mathematical_occupations">Mathematics</option>
				<option value="_architecture_and_engineering_occupations">Architecture and Engineering</option>
				<option value="_arts_design_entertainment_sports_and_media_occupations">Arts, Design, Entertainment & Sports</option>
				<option value="_law_enforcement_workers_including_supervisors">Law Enforcement</option>
			</select>
			<select class="year">
				<option value="2012">2011</option>
				<option value="2012">2012</option>
				<option value="2013">2013</option>

			</select>
		</div>

		<div class="form-control">
			<input type="submit"/>
		</div>
	</form>

	{{>map states}}
</template>